<ng-container>
  <p-dropdown
    placeholder="Select..."
    [options]="scriptNameList" [(ngModel)]="scriptName" optionLabel="name"
    (onChange)="changeHandler()"
  ></p-dropdown>

  <p-dropdown
    placeholder="Select..."
    [options]="propertyNameList" [(ngModel)]="propertyName" optionLabel="name"
    [hidden]="scriptName === undefined"
    (onChange)="changeHandler()"
  ></p-dropdown>

  <p-dropdown
    placeholder="Select..."
    [options]="operatorList" [(ngModel)]="operator" optionLabel="name"
    [hidden]="propertyName === undefined"
    (onChange)="changeHandler()"
  ></p-dropdown>

  <input
    placeholder="Type something..."
    pInputText type="text" [(ngModel)]="searchValue"
    [hidden]="operator === undefined"
    (change)="changeHandler()"
  />
</ng-container>
