<h1>CUSTOMER FILTER</h1>

<div>
  <h3>RULE #1</h3>
  <p-dropdown
    placeholder="Select..."
    [options]="scriptNameList" [(ngModel)]="scriptName" optionLabel="name"
  ></p-dropdown>

  <p-dropdown
    placeholder="Select..."
    [options]="propertyNameList" [(ngModel)]="propertyName" optionLabel="name"
  ></p-dropdown>

  <p-dropdown
    placeholder="Select..."
    [options]="operatorList" [(ngModel)]="operator" optionLabel="name"
  ></p-dropdown>

  <input
    placeholder="Type something..."
    pInputText type="text" [(ngModel)]="searchValue"
  />
</div>

<div>
  <h3>RULE #2</h3>
  ...
</div>

<br>

<button pButton type="button" label="Apply filters" (click)="applyFilters()"></button>
<button pButton type="button" label="Reset" (click)="resetFilters()"></button>
